In [103]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/the-movies-dataset/links_small.csv
/kaggle/input/the-movies-dataset/ratings.csv
/kaggle/input/the-movies-dataset/links.csv
/kaggle/input/the-movies-dataset/keywords.csv
/kaggle/input/the-movies-dataset/movies_metadata.csv
/kaggle/input/the-movies-dataset/credits.csv
/kaggle/input/the-movies-dataset/ratings_small.csv

In [104]:
df=pd.read_csv('../input/the-movies-dataset/movies_metadata.csv',low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Assigning score to each movie based on ratings and number of reviews

In [105]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Checking for NULL values

In [106]:
df.isna().any()

adult                    False
belongs_to_collection     True
budget                   False
genres                   False
homepage                  True
id                       False
imdb_id                   True
original_language         True
original_title           False
overview                  True
popularity                True
poster_path               True
production_companies      True
production_countries      True
release_date              True
revenue                   True
runtime                   True
spoken_languages          True
status                    True
tagline                   True
title                     True
video                     True
vote_average              True
vote_count                True
dtype: bool

 we will use two parameters number of votes and rating of a movie to assign score

In [107]:
df[['vote_count','vote_average']].head()

   vote_count  vote_average
0      5415.0           7.7
1      2413.0           6.9
2        92.0           6.5
3        34.0           6.1
4       173.0           5.7

weighted average rating = ( vote_average * vote_count+mean(vote_average) * threshhold)/(vote_count+threshhold))

threshold= minimum number of vote_count for a movie to assign a score

vote_average= rating

In [108]:
threshold=df['vote_count'].quantile(0.9)
print(threshold)

160.0

In [109]:
meanvote=df['vote_average'].mean()
print(meanvote)

5.618207215133889

In [110]:
#calculating score for all movies
moviescore=[]
for voteval in range(len(df['vote_count'])):
    if(voteval>threshold):
        moviescore.append((df['vote_average'][voteval]*df['vote_count'][voteval]+meanvote*threshold)/(df['vote_count'][voteval]+threshold))
    else:
        moviescore.append(0)

In [111]:
df['moviescore']=moviescore

The movie score tells us how good a movie is based on user rating and number of ratings

Now we have a recommneder system which giver us top 25 movies among the given movies. These movies will be liked by most of the users so for a new user we can suggest these movies to start

In [112]:
df[['title','vote_average','vote_count','moviescore']].sort_values('moviescore',ascending=False).head(25)

,title,vote_average,vote_count,moviescore
314,The Shawshank Redemption,8.5,8358.0,8.445869
834,The Godfather,8.5,6024.0,8.425439
10309,Dilwale Dulhania Le Jayenge,9.1,661.0,8.421453
12481,The Dark Knight,8.3,12269.0,8.265477
2843,Fight Club,8.3,9678.0,8.256385
292,Pulp Fiction,8.3,8670.0,8.251406
522,Schindler's List,8.3,4436.0,8.206639
23673,Whiplash,8.3,4376.0,8.205404
5481,Spirited Away,8.3,3968.0,8.196055
2211,Life Is Beautiful,8.3,3643.0,8.187171
1178,The Godfather: Part II,8.3,3418.0,8.180076
1152,One Flew Over the Cuckoo's Nest,8.3,3001.0,8.164256
351,Forrest Gump,8.2,8147.0,8.150272
1154,The Empire Strikes Back,8.2,5998.0,8.132919
1176,Psycho,8.3,2405.0,8.132715
18465,The Intouchables,8.2,5410.0,8.125837
40251,Your Name.,8.5,1030.0,8.112532
289,Leon: The Professional,8.2,4293.0,8.107234
3030,The Green Mile,8.2,4166.0,8.104511
1170,GoodFellas,8.2,3211.0,8.077459
2216,American History X,8.2,3120.0,8.074059
15480,Inception,8.1,14075.0,8.072105
22879,Interstellar,8.1,11187.0,8.065005
7000,The Lord of the Rings: The Return of the King,8.1,8226.0,8.052649
256,Star Wars,8.1,6778.0,8.042766

Finding similarity between movies

In [113]:
df[['title','overview','genres']].head()

,title,overview,genres
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"

# **content based filtering **

We will use cosine similarity to compare two movies

In [114]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

we will use movie overview to calculate similarities between two movies

In [115]:
df['overview'].isna().any()

True

Replace null values in the overview column with empty strings

In [116]:
df['overview']=df['overview'].fillna('')

In [117]:
tfidf_matrix = tfidf.fit_transform(df['overview'])
tfidf_matrix.shape

(45466, 75827)

In [118]:
df.shape

(45466, 25)

In [119]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix[:10000], tfidf_matrix[:10000])
cosine_sim.shape

(10000, 10000)

Suggesting movies based on cosine similarirty

In [120]:
indices = pd.Series(df.index, index=df['title']).drop_duplicates()
indices[:5]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [121]:
def suggest_movies(movie_title):
    movieindex=list(enumerate(cosine_sim[indices[movie_title]]))
    sim_scores = sorted(movieindex, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    print(df['title'].iloc[movie_indices])

In [122]:
suggest_movies('Toy Story')

2997              Toy Story 2
8327                The Champ
1071    Rebel Without a Cause
1932                Condorman
3057          Man on the Moon
485                    Malice
1032            The Sunchaser
3252          Bound for Glory
7254           Africa Screams
2157        Indecent Proposal
Name: title, dtype: object

#   Collabrative based filtering

In [123]:
rdf=pd.read_csv('../input/the-movies-dataset/ratings_small.csv')
rdf.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [124]:
rdf=rdf[['userId','movieId','rating']]
rdf.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

collabrative user- user based interaction

Building a user item matrix

In [125]:
useritem = np.zeros([10000, 10000])
for userid in range(len(rdf['userId'])):
    try:
        useritem[rdf['userId'][userid]-1][rdf['movieId'][userid]-1]=rdf['rating'][userid]
    except:
        pass

In [126]:
moviecolumns=[]
for movieval in range(len(useritem)):
    moviecolumns.append("movie "+str(movieval))

In [140]:
mdf=pd.DataFrame(useritem,columns=moviecolumns)
mdf.head()

,movie 0,movie 1,movie 2,movie 3,movie 4,movie 5,movie 6,movie 7,movie 8,movie 9,...,movie 9990,movie 9991,movie 9992,movie 9993,movie 9994,movie 9995,movie 9996,movie 9997,movie 9998,movie 9999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [129]:
mdf['movie 30'][0]

2.5

In [130]:
def standerdize(row):
    new_row=(row-row.mean())/(row.max()-row.min())
    return new_row

In [131]:
smdf=mdf.apply(standerdize)
smdf=smdf.fillna(0)
smdf.head()

,movie 0,movie 1,movie 2,movie 3,movie 4,movie 5,movie 6,movie 7,movie 8,movie 9,...,movie 9990,movie 9991,movie 9992,movie 9993,movie 9994,movie 9995,movie 9996,movie 9997,movie 9998,movie 9999
0,-0.01913,-0.00728,-0.00373,-0.000886,-0.00366,-0.00808,-0.00348,-0.00038,-0.00126,-0.00842,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.01913,-0.00728,-0.00373,-0.000886,-0.00366,-0.00808,-0.00348,-0.00038,-0.00126,0.79158,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.01913,-0.00728,-0.00373,-0.000886,-0.00366,-0.00808,-0.00348,-0.00038,-0.00126,-0.00842,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.01913,-0.00728,-0.00373,-0.000886,-0.00366,-0.00808,-0.00348,-0.00038,-0.00126,0.79158,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.01913,-0.00728,0.79627,-0.000886,-0.00366,-0.00808,-0.00348,-0.00038,-0.00126,-0.00842,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0


item-item based collabrative filtering

In [132]:
from sklearn.metrics.pairwise import cosine_similarity
item_similarity=cosine_similarity(smdf.T)

In [133]:
its=pd.DataFrame(item_similarity,columns=moviecolumns)

In [134]:
its.head()

,movie 0,movie 1,movie 2,movie 3,movie 4,movie 5,movie 6,movie 7,movie 8,movie 9,...,movie 9990,movie 9991,movie 9992,movie 9993,movie 9994,movie 9995,movie 9996,movie 9997,movie 9998,movie 9999
0,1.000000,0.385661,0.299776,0.130065,0.237518,0.367990,0.271915,0.060571,0.112301,0.299469,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.385661,1.000000,0.211871,0.162181,0.273351,0.214151,0.201875,0.222602,0.109980,0.411783,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.299776,0.211871,1.000000,0.175132,0.367445,0.242129,0.432819,0.126425,0.304666,0.185023,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.130065,0.162181,0.175132,1.000000,0.177692,0.069541,0.182837,0.501203,0.253550,0.108505,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.237518,0.273351,0.367445,0.177692,1.000000,0.267495,0.385424,0.193155,0.366113,0.241118,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [135]:
def suggest_movies(movie_name,user_rating):
    similar_score=its[movie_name]*(user_rating-rdf['rating'].mean())
    similar_score=similar_score.sort_values(ascending=False)
    return similar_score[:5]

Suggesting movies based on user past movie reviews

In [136]:
suggest_movies('movie 0',5)

0       1.456392
3113    0.857050
259     0.823126
779     0.805902
355     0.804550
Name: movie 0, dtype: float64

# Using SVD to predict rating a user would assign to a movie

In [137]:
import surprise
from surprise import Dataset, SVD 
from surprise.model_selection import cross_validate
reader = surprise.reader.Reader()
data = Dataset.load_from_df(rdf[['userId', 'movieId', 'rating']], reader)
svd=SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8889  0.8935  0.8958  0.9081  0.8962  0.8965  0.0063
MAE (testset)     0.6845  0.6880  0.6884  0.6990  0.6907  0.6901  0.0049
Fit time          8.92    8.88    9.09    8.93    8.97    8.96    0.07
Test time         0.30    0.28    0.29    0.28    0.29    0.29    0.01

{'test_rmse': array([0.88891932, 0.8934829 , 0.89579303, 0.90808701, 0.8961713 ]),
 'test_mae': array([0.68448538, 0.6879739 , 0.68835102, 0.69904316, 0.69074449]),
 'fit_time': (8.92253041267395,
  8.876247644424438,
  9.092155933380127,
  8.933481454849243,
  8.97140383720398),
 'test_time': (0.2988111972808838,
  0.2797989845275879,
  0.2899510860443115,
  0.2820267677307129,
  0.2910935878753662)}

In [138]:
trainset = data.build_full_trainset()
svd.fit(trainset)

Now we can predict a rating which a user will give for a movie

In [139]:
svd.predict(2,531)

Prediction(uid=2, iid=531, r_ui=None, est=3.5034004953377265, details={'was_impossible': False})

User 2 will assign a rating of 3.584 for a movie with id 531

1) Collabrative filtering methods are really usefull when we have lot of data but they suffer from cold start propblem. So we can use a hybrid model which will combne both content and collabrative based approaches

2) In Collabrative filtering techinques item-item based interaction is better that user - user interaction as we have larger number of items and very few users. More over comparing user only based on items in case of movies might not produce accurate results.